.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img{
    width: 200px;
    height: 200px;
}

.content{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.form__content{
    display: flex;
    align-items: center;
}