<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ static_url('style.css') }}" type="text/css">
</head>

<body>
    <div class="container">
        <div class="content">

            <div class="card one">
                <img src="{{static_url('player.jpg')}}" alt="">
                <input type="text" value="{{data['card_one']}}">
            </div>

            <div class="card two">
                <img src="{{static_url('person-icon.png')}}" alt="">
                <input type="text" value="{{data['card_two']}}">
            </div>

            <div class="guess">
                <form action="/guess_value" method="post">
                    <div class="form form__content">
                        <select name="value_guess" id="">
                            <option value="high">High</option>
                            <option value="low">Low</option>
                        </select>
                    </div>
                    <button type="submit">GUESS</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>