<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ static_url('style.css') }}" type="text/css">
</head>

<body>
    <div class="container">
        <div class="content">
            <form class="form" action="/guess_value" method="post">
                <div class="form__content">
                    <div class="card one">
                        <img src="{{static_url('player.jpg')}}" alt="">
                        <input name="card_one" type="text" value="{{data['card_one']}}">
                    </div>

                    <div class="card two">
                        <img src="{{static_url('person-icon.png')}}" alt="">
                        <input name="card_two" type="text" value="{{data['card_two']}}">
                    </div>

                    <div class="group__select">
                        <select name="value_guess" id="">
                            <option value="high">High</option>
                            <option value="low">Low</option>
                        </select>
                        <button type="submit">GUESS</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>